body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
    background-color: #849d8f;
}

*, *::before, *::afrer {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.visually-hidden {
    display: none;
}

.container {
    width: 1146px;
    margin: 0 auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 70px;
    font-size: 18px;
    line-height: 24px;
    color: inherit;
    box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
    background-color: #ffffff;
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:hover,
.button:focus {
    box-shadow: 0 2px 2px #ac1000;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.button:active {
    box-shadow: inset 0 2px 2px #942718;
    background-color: rgba(0, 0, 0, 0.07);
}

button.button {
    border: none;
    color: #ffffff;
}

.input {
    padding: 10px;
    font-weight: 400;
    line-height: 24px;
    border: 1px solid rgba(178, 178, 178, 0.52);
    border-radius: 5px;
    background-color: #ffffff;
}

.header__container {
    display: flex;
}

.main-nav, .header-button {
    display: flex;
    font-size: 16px;
    list-style: none;
}

.header-button {
    margin-left: auto;
}

.main-nav a,
.header-button a {
    color: #ffffff;
    text-decoration: underline;
}

.contact-info__time {
    font-size: 14px;
    line-height: 16px;
    text-align: right;
}

.contact-info a {
    display: block;
    font-size: 22px;
    line-height: 24px;
    color: inherit;
}

.banners__list {
    display: flex;
    justify-content: space-between;
}

.banners__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 560px;
    padding: 20px;
    color: #ffffff;
    background-color: #323232;
    border-radius: 15px;
}

.banners__item:nth-child(1) {
    background: url("../img/bg-banners-raspberry.png") no-repeat;
}

.banners__item:nth-child(2) {
    background: url("../img/bg-banners-chocolate.png") no-repeat;
}

.banners__title {
    margin: 0;
    font-size: 35px;
    line-height: 41px;
}

.banners__text {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.baners__button {
    margin-top: 25px;
    margin-left: auto;
}

.catalog-hit {
    padding-top: 40px;
    padding-bottom: 40px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.product-item__title {
    margin: 0;
    color: #ffffff;
    font-weight: 500;
    text-decoration: underline;
    text-align: center;
}

.product-item__title a {
    color: inherit;
    font-size: 16px;
}

.product-item {
    width: 267px;
    margin-right: 26px;
}

.product-item:nth-child(4n) {
    margin-right: 0;
}

.product-item__image {
    width: 100%;
    height: 266px;
    border-radius: 50%;
    overflow: hidden;
}

.about-us {
    padding: 20px;
    border-radius: 15px;
    color: #323232;
    background: url("../img/bg-wafer.jpg");
}

.about-us__header {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.about-us__list {
    display: flex;
    flex-wrap: wrap;
}

.about-us__item {
    display: flex;
    width: 532px;
}

.about-us__item img {
    width: 49px;
    height: 49px;
}

.about-us__item-text {
    margin: 0;
    padding-top: 10px;
    margin-left: 9px;
    margin-bottom: 10px;
    font-weight: 400;
}

.news-mailing {
    padding-top: 40px;
    padding-bottom: 40px;
}

.news-blog {
    display: flex;
    justify-content: space-between;
}

.news, .mail {
    width: 560px;
    min-height: 220px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background: url("../img/bg-post.png") no-repeat;
    color: #323232;
}

.mail {
    padding: 5px;
}

.news {
    background: url("../img/bg-strawberry.png") no-repeat;
    background-position: -60px center;
}

.news__text {
    margin: 0;
    font-weight: 400;
}

.mail__content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 30px 15px;
    border-radius: inherit;
    background-color: #ffffff;
}

.news__title {
    max-width: 290px;
    font-size: 24px;
    line-height: 30px;
    text-decoration: underline;
}

.mail__text {
    margin: 0;
    font-weight: 400;
    color: #5a5a5a;
}

.mail-form {
    margin-top: auto;
}

.mail-form__input {
    width: 368px;
    margin-right: 11px;
    box-sizing: border-box;
}



.map {
    display: flex;
    width: 100%;
    min-height: 640px;
    background: url(../img/map.png) no-repeat center center;
    background-size: 100%;
}

.map .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.map img {
    width: 100%;
}

.map-contact-block {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 30px 25px;
    border-radius: 25px;
    color: #323232;
    background-color: #ffffff;
}


.map-contact-block__address {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.map-contact-block__address span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.map-contact-block__tel {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.map-contact-block__tel span {
    display: block;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
}

.page-footer {
    padding: 20px 0px;
}

.page-footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-social__list {
    padding: 0;
    display: flex;
    list-style: none;
}

.footer-social__item  {
    width: 32px;
    height: 32px;  
}

.social-tw {
    background: url("../img/twitter.svg") no-repeat center center;
}

.social-inst {
    background: url("../img/instagram.svg") no-repeat center center;
}

.social-fb {
    background: url("../img/fb.svg") no-repeat center center;
}

.social-vk {
    background: url("../img/vk.svg") no-repeat center center;
}

.footer-link__list {
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

.footer-link__list li:nth-child(1)::before {
    content: url("../img/heart.svg");
    width: 13px;
    height: 13px;
}

.footer-link__list a {
    color: #ffffff;
    text-decoration: underline;
}

.footer-copyright__text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.breadcrumbs {
    display: flex;
    padding: 0;
    list-style: none;
}

.breadcrumbs a {
    color: #ffffff;
}

.breadcrumbs__item {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.breadcrumbs li:not(.site-navigation-current) a {
    text-decoration: underline;
}

.catalog__header {
    font-size: 35px;
    line-height: 41px;
}

.catalog__item {
    position: relative;
}

.catalog__item::before {
    content: url("../img/hit.svg");
    position: absolute;
    top: 0px;

}

.product-item__price {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding-bottom: 61px;
    line-height: 45px;
}

.price-gold {
    font-size: 45px;
}

.price-unit {
    font-size: 30px;
}

.product-item__title {
    margin-top: 16px;
}

.pagination-list {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    list-style: none;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.pagination-list__item a {
    color: #ffffff;
}

.sort-form__list {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}